<div  class="candidates-board" fxLayout *ngIf="candidates.length !== 0">
  <mat-card
    class="candidate-card"
    *ngFor="let candidate of candidates"
  >
    <a [routerLink]="['/candidates', candidate._id]">
      <figure
        class="candidate-figure"
        fxLayout="column"
        fxLayoutAlign="center center"
        matRipple
        [matRippleColor]="'rgba(255,255,255, .2)'"
      >
        <img class="candidate-img" [src]=candidate.imgSrc />
        <div class="overflow">Click to open candidate</div>
      </figure>
    </a>
    <div class="centre">{{candidate.name}}</div>
  </mat-card>
</div>
<div class="add-button">
  <button
    mat-fab
    color="primary"
    [routerLink]="['/candidates/new']"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
