.candidate-title {
  margin-top: 0;
}

mat-panel-title {
  font-size: 20px;
}

.contacts-info {
  position: relative;
}

app-short-info{
  width: 50%;
  float: left;
}

app-timeline {
  width: 50%;
  float: left;
}
