<div class="short-info"  fxLayout="column">
  <figure
    class="short-info-figure"
    fxLayout="column"
    fxLayoutAlign="center center"
    matRipple
    [matRippleColor]="'rgba(255,255,255, .2)'"
  >
    <img class="short-info-img" [src]="imgSrc"/>
    <div class="overflow">Click to update the image</div>
    <input
      type="file"
      id="img-uploader"
      style="display:none;"
      (change)="onFileUpload($event)"
    />
    <label for="img-uploader" class="img-uploader"></label>
  </figure>

  <form fxLayout="column" #form="ngForm">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="candidate.name"
        placeholder="Name"
        name="Name"
        required
      />
      <mat-error align="end">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="candidate.position"
        placeholder="Position"
        name="Position"
      />
    </mat-form-field>
    <p>Contacts:</p>
    <div *ngFor="let contact of contacts; let i = index">
      <mat-checkbox (change)="change(i)">
        <p *ngIf="!check[i]">{{contact.name}}</p>
        <mat-form-field *ngIf="check[i]">
          <input
            matInput
            [(ngModel)]="contact.value"
            placeholder={{contact.name}}
            name={{contact.name}}
          />
        </mat-form-field>
      </mat-checkbox>
    </div>
  </form>
</div>
