<div class="main">
  <div class="buttons">
    <button mat-icon-button (click)="addInterview()" title="Assign interview">
      <img class="icon" [src]="interviewSrc" />
    </button>
    <button mat-icon-button (click)="loadCV()" title="Load CV">
      <img class="icon" [src]="cvSrc" />
    </button>
    <button mat-icon-button (click)="addExperience()" title="Add experience">
      <img class="icon" [src]="experienceSrc" />
    </button>
    <button mat-icon-button (click)="addNotes()" title="Add Notes">
      <img class="icon" [src]="notesSrc" />
    </button>
  </div>
  <div class="timeLine">
    <mat-card class="notes-info" fxLayout *ngFor="let element of candidateInfo">
      <table fxFlex="1 1 auto" class="info-table" *ngIf="element.Note; else experience">
        <tr>
          <td>
            {{element.date | date}}</td>
          <td>
            <p>Note: {{element.Note}}</p>
          </td>
        </tr>
      </table>
      <ng-template #experience>
        <table fxFlex="1 1 auto" class="info-table">
          <tr>
            <td>
              {{element.date | date}}</td>
            <td>
              <p>{{ element.dateFrom | date }} &mdash; {{ element.dateTo | date }}</p>
              <p>Company: {{element.companyName}}</p>
              <p>Position: {{element.position}}</p>
            </td>
          </tr>
        </table>
      </ng-template>
    </mat-card>
  </div>
</div>
